<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
		</head>
		<body>
			<div id="wrapper" style="padding: 0% 15%; width: 70%;">
				<nav>
	    			<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/projects">Projects</a></li>
		        	<li><a href="/resume">Resume</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog/">Blog</a></li>
	        		<li><a href="mailto:zhhsegallb@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/zhhsegall">Github</a></li>
	    			</ul>
				</nav>
				<div class="container" >
			
				{{ content }}
			
				</div><!-- /.container -->
			</div>
		</body>
	</html>